<form name="contact" id="form" class="form" data-netlify="true" method="POST">
  <div class="form__subcontainer">
    <div>
      <label for="form-first-name">First Name</label>
      <input type="text" name="first-name" id="form-first-name" required>
    </div>
    <div>
      <label for="form-last-name">Last Name</label>
      <input type="text" name="last-name" id="form-last-name" required>
    </div>
  </div>

  <div>
    <label for="form-email">E-Mail</label>
    <input type="email" name="email" id="form-email" required>
  </div>

  <div>
    <label for="form-message">Message</label>
    <textarea name="message" id="form-message" rows="3"></textarea>
  </div>

  <div class="form__submit">
    <div class="form__btn">
      <button type="submit">Send</button>
    </div>
  </div>

  <p class="form__message"></p>
</form>

<form name="contact" method="POST" data-netlify="true">
  <input type="hidden" name="subject" value="Sales inquiry from mysitename.netlify.app" />
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>